.header {
    height: 60px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    background-image: url(img.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    border: double;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
}

.list a {
    font-family: segoe script;
    color: black;
    font-size: 20px;
    text-decoration: overline;
    margin: 20px;
}

.list a:hover{
    text-decoration: none; 
    color: white;   
    background: darkred ;  
}

ul.list {
    margin: 0px;
    padding: 20px;
}

ul.list li {
    display: inline-block; 
}
    
.name {
    color: darkolivegreen;
    font-size: 30px;
    text-decoration: underline;
    -webkit-text-stroke: 1px black;
    padding: 0px;
    margin: 5px;
    margin-top: 65px;
    box-sizing: border-box;
}

.name2 {
    text-align: center;
    background-color: azure;
    height: 500px;
    width: 100%;
    margin-top: 70px;
     
}

.zag1 {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-family: Times New Roman;
}

.zag {
    text-align: center;
    font-family: Times New Roman;
}

.name2 ul {
    list-style-type: none;
}

.text2 {
    text-align: center;
    font-family: Times New Roman;
    font-size: 20px;
}

.text3 {
    text-align: center;
    font-family: Times New Roman;
     font-size: 20px;
    background-color: floralwhite;
    margin-top: 5px;
}

.text4 {
    height: 150px;
    margin-top: 10px;
    text-align: center;
    font-family: Times New Roman;
     font-size: 20px;
    background-color: azure;
}

.text5 {
    height: 150px;
    text-align: center;
    font-family: Times New Roman;
     font-size: 20px;
    background-color: white;
}

.img {
    width: 20%;
    height: 480px;
    margin: 9px 7%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    border: 3px purple solid;
 
}

ul.spisok1 li {
    display: inline-block;
    border: 1px black solid;
    
}

 .footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    border: double;
    background: darkmagenta;
    }
 